#build output shouldn't be tracked by git
build

# vs code compiler/define config
# disabled until different RPi models are handled
.vscode/c_cpp_properties.json

#leftovers from converting from the valvers tutorial (https://github.com/BrianSidebotham/arm-tutorial-rpi)
#eventually i'll convert these to work with the new project structure :)
build-old
compiler
card
firmware
.github/workflows

#debugging disassembly output
kernel.disasm
