#build output shouldn't be tracked by git
build
kernel.img

# vs code compiler/define config
# disabled until different RPi models are handled
.vscode

#leftovers from converting from the valvers tutorial (https://github.com/BrianSidebotham/arm-tutorial-rpi)
#eventually i'll convert these to work with the new project structure :)
build-old
compiler
card
firmware
.github/workflows

#ignore font.h output (it's generated but doesn't go in the build directory because idk including headers is hard)
font/font.h

#debugging disassembly output
*.disasm
